# Build results
web/bin/
web/obj/
**/bin/
**/obj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/